<h2 id="recentUps">Recent Updates:</h2> 
<div id="recs">
{{#each recs}}
<article>
	<h2 class="title">{{title}}</h2> <i>Calories: {{calories}}</i>
	<hr>
	<div class="content">
	    {{{instructions}}}
	</div>
	<a href="/post/{{this._id}}">Read more...</a>
</article>
{{else}}
</div>
<article>
    <h1>There are no recipes yet. :(</h1>
    <a href="/create">Add your own!</a>
</article>
{{/each}}